extends base.pug 

block scripts 
    script (src='/static/index.js')

block style 
    style
        include ../static/style.css
        include ../static/About.css


block About
    section#AboutSection 
        h2 About US 
        div#About 
            h3 168, Sunder Colony , BahaderPur Road 
            h1 Ramgarh (Alwar) Rajasthan , 301026