doctype html
html
  head
    title Sharma Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.jpg")
            li #[a(href="/") Home]
            li #[a(href="/About") About]
            //- li #[a(href="/") Services]
            //- li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block About
    block content
    footer#footer 
        | Copyright © 2022 Sharma-Dance-Academy.Com | All right reserved 
     
    