@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
}
#logo img{
    height: 53px;
}

#navbar{
    background-color: #9f5252;
    padding: 1px ;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li{
    list-style: none;

}
#navbar li a{
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding: 6px 13px;
}

#navbar li a:hover{
    color: rgb(14, 240, 33);
}

#introSection{
    flex-direction: column;
    color: black;
    font-weight: bold;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 425px;
    background: center/cover no-repeat url("/static/bg.jpg");
}
#introSection div.small{
    font-size: 45px;
}
#MissionSection{
    height: 300px;
    background-color: #1a0b0b;
}
#MissionSection h2{
    font-family: 'Yeon Sung', cursive;
    color: white;
    text-align: center;
    padding-top: 11px;
    font-size: 41px;
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 26%;
    height: 200px;
    margin: 23px 33px;
    background-color: black;
    color: white;
}
.card h3{
    text-align: center;
    margin: 12px;
    font-family:Arial, Helvetica, sans-serif;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 136px;
    padding: 0px 14px;
}
.card-img img{
    height: inherit;
    width: 128px;
}
.card-content{
    padding: 0 9px;
}
.card-content p{
    font-size: 20px;
}
#sponsorsSection{
    height: 300px;
    background-color: white;
}
#sponsorsSection h2{
    font-family: 'Yeon Sung', cursive;
    text-align: center;
    padding-top: 11px;
    font-size: 41px;
}
#sponsors{
    height: 185px;
    max-width: 1000px;
    margin: 18px auto;
}
.spImage{
    height: 80%;
    margin: 20Px;
}

#footer{
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}